body {
	background: linear-gradient(to bottom, #484D50, #292c2e);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	display: flex;
	min-height: 75vh;
}

.sidebar {
	width: 250px;
}

.active-window {
	flex: 1;
}

summary {
	display: list-item;
	color: white;
	cursor: pointer;
	padding: 10px;
}
